@model v2proCode.Models.Assessment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Assessment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Grade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Grade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssessmentDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssessmentDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssessmentVenue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssessmentVenue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Term)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Term)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AssessmentID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
